# Ignore artifacts:
Tests
Src/Witsml
Src/WitsmlExplorer.Api
Src/WitsmlExplorer.Frontend/build
Src/WitsmlExplorer.Frontend/obj
Src/WitsmlExplorer.Frontend/bin

*.md
*.yml
.prettierignore
.github
.eslintrc.json
