<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="equinor" value="https://nuget.pkg.github.com/equinor/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <equinor>
            <add key="Username" value="%USERNAME%" />
            <add key="ClearTextPassword" value="%CLEARTEXTPASSWORD%" />
        </equinor>
    </packageSourceCredentials>
</configuration>
