@font-face {
  font-family: "Equinor";
  src: url("https://s478-cdne-edsartefacts-prod.azureedge.net/assets/font/Equinor-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EquinorRegular";
  src: url("https://s478-cdne-edsartefacts-prod.azureedge.net/font/Equinor-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EquinorBold";
  src: url("https://s478-cdne-edsartefacts-prod.azureedge.net/font/Equinor-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EquinorMedium";
  src: url("https://s478-cdne-edsartefacts-prod.azureedge.net/font/Equinor-Medium.woff2");
  font-weight: normal;
  font-style: normal;
}
