@font-face {
  font-family: "Equinor";
  src:  url(//cdn.eds.equinor.com/font/Equinor-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EquinorRegular";
  src:  url(//cdn.eds.equinor.com/font/Equinor-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EquinorBold";
  src:  url(//cdn.eds.equinor.com/font/Equinor-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EquinorMedium";
  src:  url(//cdn.eds.equinor.com/font/Equinor-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
