name: Frontend Build and Test
on:
  pull_request:
    branches:
      - main
    paths:
      - 'Src/WitsmlExplorer.Frontend/**'

permissions: {}

jobs:
  frontend:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: '16'
      - name: Install dependencies
        run: yarn
        working-directory: ./Src/WitsmlExplorer.Frontend
      - name: Linting
        run: yarn lint
        working-directory: ./Src/WitsmlExplorer.Frontend
      - name: Prettier
        run: npx prettier --check .
      - name: Build
        run: yarn build
        working-directory: ./Src/WitsmlExplorer.Frontend
      - name: Test
        run: yarn test
        working-directory: ./Src/WitsmlExplorer.Frontend
