name: Notify CICD

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:
  notify:
    if: github.repository_owner == 'akerbp'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Create repository dispatch event
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.DISPATCH_TOKEN }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/akerbp/witsml-explorer-cicd/dispatches \
            -d '{"event_type":"mergedispatch ${{ github.ref_name }}","client_payload":{"branch": "${{ github.ref_name }}", "version":"latest"}}'
